//# Front-end Style Guide

/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
 */

//  ## Colors

// ### Primary

$primary-cyan: hsl(179, 62%, 43%);
$primary-yellow: hsl(71, 73%, 54%);

// ### Neutral

$neutral-light: hsl(204, 43%, 93%);
$neutral-gray: hsl(218, 22%, 67%);

// ## Typography

// ### Body Copy

$fs-base: 16px;

// ### Font

$ff-base: 'Karla', sans-serif;

$fw-regular: 400;
$fw-bold: 700;
